<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"-->
    <!--        tools:ignore="ScopedStorage" />-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <!-- Add any additional camera-related queries here -->
    </queries>


    <application
        android:name=".utils.NotifyUtil"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">


        <activity
            android:name="com.digitaldream.linkskool.activities.StudentELearningActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.digitaldream.linkskool.activities.StudentELearningCourseOutlineActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name="com.digitaldream.linkskool.activities.AdminELearningActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>


        <activity
            android:name="com.digitaldream.linkskool.activities.ReceiptStudentBudgetActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.digitaldream.linkskool.activities.PaystackPaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.digitaldream.linkskool.activities.TermlyFeeSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.linkskool.activities.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.digitaldream.linkskool.activities.BooksActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.StaffCourseAttendance" />
        <activity
            android:name="com.digitaldream.linkskool.activities.AttendanceDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.linkskool.activities.CourseAttendance"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.linkskool.activities.AdminClassAttendance"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.linkskool.activities.AttendanceActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name="com.digitaldream.linkskool.activities.StudentRegistrationDetails" />
        <activity android:name="com.digitaldream.linkskool.activities.CourseRegistrationDetails" />
        <activity android:name="com.digitaldream.linkskool.activities.RegYearList" />
        <activity android:name="com.digitaldream.linkskool.activities.Courses" />
        <activity android:name="com.digitaldream.linkskool.activities.CourseRegistration" />
        <activity android:name="com.digitaldream.linkskool.activities.NewsView" />
        <activity android:name="com.digitaldream.linkskool.activities.AddNews" />
        <activity android:name="com.digitaldream.linkskool.activities.Flashcard" />
        <activity android:name="com.digitaldream.linkskool.activities.AnswerView" />
        <activity android:name="com.digitaldream.linkskool.activities.QuestionView" />
        <activity android:name="com.digitaldream.linkskool.activities.ResponseDetails" />
        <activity android:name="com.digitaldream.linkskool.activities.ViewResponses" />
        <activity android:name="com.digitaldream.linkskool.activities.FlashView" />
        <activity android:name="com.digitaldream.linkskool.activities.ExamActivity2" />
        <activity android:name="com.digitaldream.linkskool.activities.WifiActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.AdminElearningCourses" />
        <activity android:name="com.digitaldream.linkskool.activities.CreateVideoLink" />
        <activity
            android:name="com.digitaldream.linkskool.activities.VideoContent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="VideoContent" />
        <activity android:name="com.digitaldream.linkskool.activities.RenderAssessment" />
        <activity android:name="com.digitaldream.linkskool.activities.ReferSchool" />
        <activity android:name="com.digitaldream.linkskool.activities.VideoCourses" />
        <activity android:name="com.digitaldream.linkskool.activities.Assessment" />
        <activity android:name="com.digitaldream.linkskool.activities.ContactUs" />
        <activity android:name="com.digitaldream.linkskool.activities.TestUpload" />
        <activity android:name="com.digitaldream.linkskool.activities.ContentDownload" />
        <activity android:name="com.digitaldream.linkskool.activities.ContentUpload" />
        <activity android:name="com.digitaldream.linkskool.activities.CourseOutlines" />
        <activity android:name="com.digitaldream.linkskool.activities.ElearningCourses" />
        <activity android:name="com.digitaldream.linkskool.activities.ELearning" />
        <activity android:name="com.digitaldream.linkskool.activities.CoursesAssigned" />
        <activity android:name="com.digitaldream.linkskool.activities.FormClass" />
        <activity android:name="com.digitaldream.linkskool.activities.ExamActivity" />
        <activity android:name="com.digitaldream.linkskool.utils.VideoUtils" />
        <activity android:name="com.digitaldream.linkskool.activities.StaffCourses" />
        <activity android:name="com.digitaldream.linkskool.activities.StaffUtils" />
        <activity android:name="com.digitaldream.linkskool.activities.AddCourse" />
        <activity android:name="com.digitaldream.linkskool.activities.AllTeachers" />
        <activity android:name="com.digitaldream.linkskool.activities.AddLevel" />
        <activity android:name="com.digitaldream.linkskool.activities.GeneralSettings" />
        <activity android:name="com.digitaldream.linkskool.activities.AssessmentSetting" />
        <activity android:name="com.digitaldream.linkskool.activities.AddClass" />
        <activity android:name="com.digitaldream.linkskool.activities.GradeSettings" />
        <activity android:name="com.digitaldream.linkskool.activities.LevelSettings" />
        <activity android:name="com.digitaldream.linkskool.activities.CourseSettings" />
        <activity android:name="com.digitaldream.linkskool.activities.Settings" />
        <activity android:name="com.digitaldream.linkskool.activities.ClassListUtil" />
        <activity android:name="com.digitaldream.linkskool.activities.ViewClassResultWebview" />
        <activity android:name="com.digitaldream.linkskool.activities.AdminResultDashboardActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.SubjectResultUtil" />
        <activity
            android:name="com.digitaldream.linkskool.activities.YoutubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="YoutubePlayerActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.StudentDashboardActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.AddResult" />
        <activity android:name="com.digitaldream.linkskool.activities.StaffDashboardActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.ViewStudentResultActivity" />
        <activity android:name="com.digitaldream.linkskool.activities.TeacherProfileEdit" />
        <activity android:name="com.digitaldream.linkskool.activities.AddTeacher" />
        <activity
            android:name="com.digitaldream.linkskool.activities.SudentDetailsEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.AddStudent"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.digitaldream.linkskool.activities.CourseResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.NewsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.TeacherProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.TeacherContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.StudentProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.StudentContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.StaffEnterResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.ViewResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.linkskool.activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".FileTransferService"
            android:enabled="true" />

    </application>

</manifest>