<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_win_school"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/security_config"
        android:roundIcon="@mipmap/ic_launcher_win_school_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.digitaldream.ddl.Activities.AttendanceDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name="com.digitaldream.ddl.Activities.CourseAttendance"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.ddl.Activities.ClassAttendance"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.digitaldream.ddl.Activities.AttendanceActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity android:name="com.digitaldream.ddl.Activities.StudentRegistrationDetails" />
        <activity android:name="com.digitaldream.ddl.Activities.CourseRegistrationDetails" />
        <activity android:name="com.digitaldream.ddl.Activities.RegYearList" />
        <activity android:name="com.digitaldream.ddl.Activities.Courses" />
        <activity android:name="com.digitaldream.ddl.Activities.CourseRegistration" />
        <activity android:name="com.digitaldream.ddl.Activities.NewsView" />
        <activity android:name="com.digitaldream.ddl.Activities.AddNews" />
        <activity android:name="com.digitaldream.ddl.Activities.Flashcard" />
        <activity android:name="com.digitaldream.ddl.Activities.AnswerView" />
        <activity android:name="com.digitaldream.ddl.Activities.QuestionView" />
        <activity android:name="com.digitaldream.ddl.Activities.ResponseDetails" />
        <activity android:name="com.digitaldream.ddl.Activities.ViewResponses" />
        <activity android:name="com.digitaldream.ddl.Activities.FlashView" />
        <activity android:name="com.digitaldream.ddl.ExamActivity2" />
        <activity android:name="com.digitaldream.ddl.Activities.WifiActivity" />
        <activity android:name="com.digitaldream.ddl.Activities.AdminElearningCourses" />
        <activity android:name="com.digitaldream.ddl.Activities.CreateVideoLink" />
        <activity
            android:name="com.digitaldream.ddl.Activities.VideoContent"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="VideoContent" />
        <activity android:name="com.digitaldream.ddl.Activities.RenderAssessment" />
        <activity android:name="com.digitaldream.ddl.Activities.ReferSchool" />
        <activity android:name="com.digitaldream.ddl.Activities.VideoCourses" />
        <activity android:name="com.digitaldream.ddl.Activities.Assessment" />
        <activity android:name="com.digitaldream.ddl.Activities.ContactUs" />
        <activity android:name="com.digitaldream.ddl.Activities.TestUpload" />
        <activity android:name="com.digitaldream.ddl.Activities.StudentElearningCourses" />
        <activity android:name="com.digitaldream.ddl.Activities.ContentDownload" />
        <activity android:name="com.digitaldream.ddl.Activities.ContentUpload" />
        <activity android:name="com.digitaldream.ddl.Activities.CourseOutlines" />
        <activity android:name="com.digitaldream.ddl.Activities.ElearningCourses" />
        <activity android:name="com.digitaldream.ddl.ELearning" />
        <activity android:name="com.digitaldream.ddl.Utils.AssignCourseDialog" />
        <activity android:name="com.digitaldream.ddl.Activities.CoursesAssigned" />
        <activity android:name="com.digitaldream.ddl.Activities.FormClass" />
        <activity android:name="com.digitaldream.ddl.Utils.CustomCBTDialog" />
        <activity android:name="com.digitaldream.ddl.ExamActivity" />
        <activity android:name="com.digitaldream.ddl.Utils.CustomUpdateDialog" />
        <activity android:name="com.digitaldream.ddl.VideoUtils" />
        <activity android:name="com.digitaldream.ddl.Activities.StaffCourses" />
        <activity android:name="com.digitaldream.ddl.Activities.StaffUtils" />
        <activity android:name="com.digitaldream.ddl.Activities.AddCourse" />
        <activity android:name="com.digitaldream.ddl.Activities.AllTeachers" />
        <activity android:name="com.digitaldream.ddl.Activities.AddLevel" />
        <activity android:name="com.digitaldream.ddl.Activities.GeneralSettings" />
        <activity android:name="com.digitaldream.ddl.Activities.AssessmentSetting" />
        <activity android:name="com.digitaldream.ddl.Activities.AddClass" />
        <activity android:name="com.digitaldream.ddl.Activities.GradeSettings" />
        <activity android:name="com.digitaldream.ddl.Activities.LevelSettings" />
        <activity android:name="com.digitaldream.ddl.Activities.CourseSettings" />
        <activity android:name="com.digitaldream.ddl.Activities.Settings" />
        <activity android:name="com.digitaldream.ddl.Activities.ClassListUtil" />
        <activity android:name="com.digitaldream.ddl.Activities.ViewClassResultWebview" />
        <activity android:name="com.digitaldream.ddl.Activities.ClassResultDetails" />
        <activity android:name="com.digitaldream.ddl.Activities.SubjectResultUtil" />
        <activity
            android:name="com.digitaldream.ddl.YoutubePlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="YoutubePlayerActivity" />
        <activity android:name="com.digitaldream.ddl.Activities.StudentDashboardActivity" />
        <activity android:name="com.digitaldream.ddl.Activities.AddResult" />
        <activity android:name="com.digitaldream.ddl.Activities.StaffDashboardActivity" />
        <activity android:name="com.digitaldream.ddl.ViewResultWebView" />
        <activity android:name="com.digitaldream.ddl.Activities.TeacherProfileEdit" />
        <activity android:name="com.digitaldream.ddl.Activities.AddTeacher" />
        <activity
            android:name="com.digitaldream.ddl.Activities.SudentDetailsEdit"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.AddStudent"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.StudentResultDownload"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.ClassResultDownload"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.NewsPage"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.TeacherProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.TeacherContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.StudentProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.StudentContacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.StaffEnterResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.ViewResult"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Contacts"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.digitaldream.ddl.Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.digitaldream.ddl.Utils.FileTransferService"
            android:enabled="true" />
    </application>

</manifest>